<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>List all Plants</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Plants</div>
  <div class="panel-body">

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Available Items</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		<!-- plant[0] corresponds to InventoryEntry and
		plant[1] corresponds to number of available items of entry-->
			<tr th:each="plant : ${plants}">
				<td th:text="${plant[0].name}"></td>
				<td th:text="${plant[0].description}"></td>
				<td th:text="${plant[0].price}"></td>
				<td th:text="${plant[1]}"></td>
				<td>
				<form style='float:left; padding:5px; height:0px' th:method="get" th:action="@{'/plants/'+${plant[0].id}}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-search"></span></button></form>
				<form style='float:left; padding:5px; height:0px' th:method="get" th:action="@{'/plants/'+${plant[0].id}+'/form'}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span></button></form>
				<form style='float:left; padding:5px; height:0px' th:method="delete" th:action="@{'/plants/'+${plant[0].id}}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-trash"></span></button></form>
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-default" th:href="@{/plants/form}">Add a new plant</a>
	</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>